*~
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/.snakemake/
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/SRR2584857_1.fastq.gz
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/SRR2584857_2.fastq.gz
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/rel606.annot/
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/rel606.contigs.fa
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/rel606.megahit.out/
2020-GGG298/Week7-Slurm_and_Farm_cluster_for_doing_analysis/assembly/*.quast/
